.header{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    color: white;
}

input{
    width: 20%;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: 1px solid gray;
}

.news{
    width: 18%;
    /* background-color: lightgray; */
    border: 2px solid black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

   
}

.news-articles{
    display: flex;
    column-gap: 30px;
    justify-content: space-around;
    background-color: #ffffff;
    padding: 30px;
    flex-wrap: wrap;
    row-gap: 20px;
}

.news-img{
    width: 100%;
    height: 200px;
    /* background-color: #009087; */
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.news-img img{
    max-width: 100%;
}

.source{
    display: flex;
    justify-content: space-between;
    color: gray;
}

img{
    background-size: cover;
}